/*
DESENVOLVIDO POR: Thales A. Cardoso
DATA: 
*/
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    list-style: none; 
    color: #23272A;   
}

html {
    font-size: 16px;
    color: #23272A;
}

h1 {
    font-size: 3.5rem;
    font-weight: 800;
}

h2 {
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 54.5px;
}

p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 21.8px;
}

button {
    cursor: pointer;
}

.luckiest {
    font-family: 'Luckiest Guy', cursive;
    font-weight: 400;
}

.content {
    width: 1280px;
    margin: 0 auto;
}

/*******************************
    ESTILO DO HEADER
*******************************/
header {
    background-image: url(../imagens/Header-Background.svg);
    background-size: cover;
    background-position: center;
    height: 460px;
    padding: 40px 24px;
}

header .content {
    width: 760px;
    margin: 55px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

header h1 {
    color: white;
    text-align: center;
    line-height: 56px;
    width: 320px;
    letter-spacing: 1px;
}

header p {
    text-align: center;
    color: white;
}

header .btn {
    display: flex;
    gap: 16px;
}

header .btn button {
    height: 44px;
    border-radius: 28px ;
}

button.bg-white {
    background-color: white;
    padding: 11px 24px;
}

button.bg-black {
    background-color: #23272A;
    color: white;
    padding: 11px 16px;
}

/*******************************
    ESTILO DO MAIN
*******************************/

main {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

main section {
    padding: 40px 24px;
}

main section:nth-child(even){
    background-color: #F6F6F6;
}

main .content {
    max-width: 970px;
    display: flex;
    gap: 16px;
    align-items: center;
}

main .content img {
    max-width: 100%;
}

main .content .textos {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

main section.secao-2 img {
    order: 2;
}

main section.secao-4 .content {
    max-width: 805px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main section.secao-4 .content img {
    order: 2;
}

main section.secao-4 .textos {
    text-align: center;
}

main section.secao-4 h2.luckiest {
    line-height: 40px;
}

/*******************************
    ESTILO DO FOOTER
*******************************/